doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width" )
        title
        link(rel='icon' href='../img/favicon.ico' type='image/x-icon')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet")
        link(href="https://fonts.cdnfonts.com/css/sf-ui-display" rel="stylesheet")

        link(rel='stylesheet', href="/src/styles/main-common.sass")

    body
        div(class=pageClass).page
            block content

        include ../components/footer.pug

        script(type='module' src="/src/js/main.js")