footer.footer
    .container
        .footer__justify
            .footer__col
                a(href='').footer__logo
                    img(src='/src/assets/img/logo.svg' alt='Логотип')
                a(href='tel:+78003507767').footer__phone 8 (800) 350-77-67
                a(href='').button.button-blue
                    span Войти

            .footer__col
                span.footer__title Пользователям

                ul.footer__nav
                    li
                        a(href='') Главная
                    li
                        a(href='') Партнерам
                    li
                        a(href='') Контакты

            .footer__col
                span.footer__title Условия

                ul.footer__nav
                    li
                        a(href='') Условия использования
                    li
                        a(href='') Политика конфиденциальности

            .footer__col
                span.footer__title Контакты

                ul.footer__nav
                    li
                        a(href='') Telegram
                    li
                        a(href='') ВКонтакте
                    li
                        a(href='') Whatsapp