mixin route-form(buttonType)
    .route-form
        .route-form__labels
            label.label-select
                select(name='').js--select-style.js--from
                    // в селекты обязательно вставлять первый пустой элемент для правильной анимации подсказки
                    option(selected disabled)

            label.label-select
                select(name='').js--select-style.js--to
                    option(selected disabled)

            label.label-date
                input(type='text' name='').calendar-inline.range
                span.label-text Когда

            button.no-style.js--change-towns
                svg(width=24  height=24)
                    use(xlink:href='/src/assets/img/sprite.svg#icon-swap')

        if(buttonType === 'modal')
            button(type='button' data-fancybox data-src="#route-modal").button.button-blue.js--open-modal Найти транспорт
        if(buttonType === 'send')
            // ЗАМЕНИТЬ написать, что нужно делать при клике на кнопку в уже открытой модалке с выстроенным маршрутом
            button(type='button').button.button-blue Найти транспорт